{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    {% block meta %}
  {% endblock meta %}
</head>

<body>
  {% block nav %}
    {% if request.session.username.2 == "Admin" %}
      {% include 'navbar_admin.html' %}
    {% else %}
      {% include 'navbar_pemain.html' %}
    {% endif %}
  {% endblock nav %}
  {% block content %}
  {% endblock content %}
</body>

</html>