{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header style="z-index: 3">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a href="/homepage" class="navbar-brand">TheCimsD03</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Tokoh
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'tokoh:buat_tokoh' %}">Buat Tokoh</a></li>
                  <li><a class="dropdown-item" href="{% url 'tokoh:index' %}">List Tokoh</a></li>
                  <li>
                    <a class="dropdown-item" href="{% url 'warna_kulit:read_warna_kulit' %}">List Warna Kulit</a>
                  </li>

                  <li><a class="dropdown-item" href="{% url 'level:read_level' %}">List Level</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Pekerjaan
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'pekerjaan:index' %}">List Pekerjaan</a></li>
                  <li><a class="dropdown-item" href="{% url 'pekerjaan:create_bekerja' %}">Buat Bekerja</a></li>
                  <li><a class="dropdown-item" href="{% url 'pekerjaan:read_bekerja' %}">List Bekerja</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Misi
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/misi-utama/">List Misi Utama</a></li>

                  <li>
                    <a class="dropdown-item" href="/menjalankan-misi-utama/create"
                      >Buat Menjalankan Misi Utama</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/menjalankan-misi-utama/"
                      >List Menjalankan Misi Utama</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Makan
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/makanan/">List Makanan</a></li>

                  <li><a class="dropdown-item" href="/makan/create">Buat Makan</a></li>
                  <li><a class="dropdown-item" href="/makan/">List Makan</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Koleksi
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="koleksi">List Koleksi</a></li>

                  <li>
                    <a class="dropdown-item" href="koleksi/kategori-apparel">List Kategori Apparel</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Buat Koleksi Tokoh</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="koleksi/koleksi-tokoh">List Koleksi Tokoh</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Penggunaan
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="{% url 'menggunakan_apparel:create_menggunakan_apparel_1' %}"
                      >Buat Menggunakan Apparel</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'menggunakan_apparel:read_menggunakan_apparel' %}"
                      >List Menggunakan Apparel</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'use_barang:create_use_barang' %}"
                      >Buat Menggunakan Barang</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'use_barang:index' %}"
                      >List Menggunakan Barang</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-danger" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
