<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registrasi Admin</title>
  </head>
  <body>
      <form action="{% url 'registrasi:register_admin' %}" method="POST">
        {% csrf_token %}
        <h1>Form Registrasi Admin</h1>
        <br>
        {{ register_admin_form.as_p }}
        <br>
        <button type="submit" value="Submit">Register</button>
      </form>
  </body>
</html>