<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registeration Menu</title>
  </head>
  <body>
      <h1>Choose a Role</h1>
      <br>
        <a href="{{ register_admin }}">
            <button>Admin</button>
        </a>
        <a href="{{ register_pemain }}">
            <button>Pemain</button>
        </a>
  </body>
</html>