{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>The Cims D03 | Buat Makanan</title>
{% endblock meta %}

{% block content %}

    <form action="{% url 'makanan:create_makanan' %}" method="POST">
        {% csrf_token %}
        <h1>Buat Makanan</h1>
        <br>
        <div class="">
            <label for="">Nama Makanan</label>
            <br>
            {{ makanan_form.nama }}
        </div>
        <div class="">
            <label for="">Harga</label>
            <br>
            {{ makanan_form.harga }}
        </div>
        <div class="">
            <label for="">Tingkat Energi</label>
            <br>
            {{ makanan_form.tingkat_energi }}
        </div>
        <div class="">
            <label for="">Tingkat Kelaparan</label>
            <br>
            {{ makanan_form.tingkat_kelaparan }}
        </div>
        <br>
        <button type="submit" value="Submit" class="btn btn-primary">Simpan</button>
      </form>
    

{% endblock content %}