{% extends 'base.html' %} 

{% load static %}

{% block meta %}
<title>The Cims D03 | List Makanan</title>
{% endblock meta %} 

{% block content %} 

<h1>List Makanan</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Nama</th>
      <th scope="col">Harga</th>
      <th scope="col">Tingkat Energi</th>
      <th scope="col">Tingkat Kelaparan</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for makanan in daftar_makanan %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ makanan.0 }}</td>
      <td>{{ makanan.1 }}</td>
      <td>{{ makanan.2 }}</td>
      <td>{{ makanan.3 }}</td>
      {% if role.0 == 'Admin' %}
        <td><a
          href="/makanan/update/?nama={{makanan.0}}"
          role="button"
          class="btn btn-outline-primary align-self-center m-1"
          >Update</a
        ></td>
        {% if makanan.0 not in daftar_makan %}
          <td><a
            href="/makanan/delete/?nama={{ makanan.0 }}"
            role="button"
            class="btn btn-outline-danger align-self-center m-1"
            >Delete</a
          ></td>
        {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
