{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>The Cims D03 | Pemain</title>
{% endblock meta %}

{% block content %}
    {% for res in result %}
    <h3>Username: {{ res.username }}</h3>
    <p>Email: {{ res.email }}</p>
    <p>Nomor HP: {{ res.no_hp }}</p>
    <p>Koin: {{ res.koin }}</p>
    {% endfor %}

{% endblock content %}