{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>The Cims D03 | Pemain</title>
{% endblock meta %}

{% block content %}
    {% for res in result %}
    <h3>Username: {{ res.username }}</h3>
    {% endfor %}

{% endblock content %}