{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>The Cims D03</title>
  </head>
  <body class="position-absolute top-50 start-50 translate-middle">
    <h1 class="fw-bold text-center">The Cims D03</h1>
    <div class="text-center mt-4">
      <a
        href="/registrasi"
        role="button"
        class="btn btn-outline-primary align-self-center m-1"
        >Register</a
      >
      <a
        href="/login"
        role="button"
        class="btn btn-primary align-self-center m-1"
        >Login</a
      >
    </div>
  </body>
</html>
