{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>The Cims D03 | Buat Makan</title>
{% endblock meta %}

{% block content %}

    <form action="{% url 'makan:create_makan' %}" method="POST">
        {% csrf_token %}
        <h1>Buat Makan</h1>
        <br>
        <div class="">
            <label for="">Nama Tokoh</label>
            <br>
            <select id="nama_tokoh" name="nama_tokoh" class="">
            {% for nama in daftar_nama_tokoh %}
                <option value="{{ nama.0 }}">{{ nama.0 }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="">
            <label for="">Nama Makanan</label>
            <br>
            <select id="nama_makanan" name="nama_makanan" class="">
            {% for makanan in daftar_makanan %}
                <option value="{{ makanan.0 }}">{{ makanan.0 }}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit" value="Submit" class="btn btn-primary">Simpan</button>
      </form>
    

{% endblock content %}