{% extends 'base.html' %} 

{% load static %}

{% block meta %}
<title>The Cims D03 | List Makan</title>
{% endblock meta %} 

{% block content %} 

<h1>List Makan</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      {% if role.0 == 'Admin' %}
        <th scope="col">Username Pengguna</th>
      {% endif %}
      <th scope="col">Tokoh</th>
      <th scope="col">Nama Makanan</th>
      <th scope="col">Waktu</th>
    </tr>
  </thead>
  <tbody>
    {% for makan in daftar_makan %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      {% if role.0 == 'Admin' %}
        <td>{{ makan.0 }}</td>
      {% endif %}
      <td>{{ makan.1 }}</td>
      <td>{{ makan.3 }}</td>
      <td>{{ makan.2 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
