{% include "navbar_admin.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Level</title>
  </head>
  <body>
      <form action="{% url 'level:create_level' %}" method="POST">
        {% csrf_token %}
        <h1>Form Buat Level</h1>
        <br>
        {{ level_form.as_p }}
        <br>
        <button type="submit" value="Submit">Simpan</button>
      </form>
  </body>
</html>