{% if role == "Admin" %}
{% include "navbar_admin.html" %}
{% endif %}
{% if role == "Pemain" %}
{% include "navbar_pemain.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List Level</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
  </head>
  <body>
      <h1>List Level</h1>
      <br>
      <table>
          <thead>
              <tr>
                  <th>No.</th>
                  <th>Level</th>
                  <th>XP</th>
                  {% if role == "Admin" %}
                  <th>Action</th>
                  {% endif %}
              </tr>
          </thead>
          <tbody>
              {% for level in daftar_level %}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ level.0 }}</td>
                  <td>{{ level.1 }}</td>
                  {% if role == "Admin" %}
                  <td><a href="{{ level.0 }}/update">Update<br>
                  {% if level in daftar_level_deletable  %}
                  <a href="{{ level.0 }}/delete">Delete</td>
                  {% endif %}
                  {% endif %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </body>
</html>