{% extends 'base.html' %}
{% block content %}
    <h1>Gunakan Barang</h1>
    {% if errors %}
        <p style="color:red">{{errors}}</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="nama"> Nama Tokoh:</label>
        <br>
        <select name="nama" id="nama">
            {% for nama in nama_tokoh %}
                <option value="{{nama}}">{{nama}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="id_koleksi">Barang:</label>
        <br>
        <select name="id_koleksi" id="id_koleksi">
            {% for id in koleksi_barang %}
                <option value="{{id}}">{{id}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Gunakan!">
    </form>
{% endblock content %}