
{% extends 'base.html' %}
{% block content %}
    <h1>List Barang for {{request.session.username.0}}</h1>
    <table>
        <tr>
            <th>No</th>
            {% if request.session.username.2 == 'Admin' %}
                <th>Username Pemain</th>
            {% endif %}
            <th>Nama Tokoh</th>
            <th>Nama Barang</th>
            <th>Waktu</th>
        </tr>
        {% for res in result %}
            <tr>
                <td>{{forloop.counter}}</td>
                {% if request.session.username.2 == 'Admin' %}
                    <td>{{ res.0 }}</td>
                    <td>{{res.1}}</td>
                    <td>{{res.2}}</td>
                    <td>{{res.3}}</td>
                {% else %}
                    <td>{{ res.0 }}</td>
                    <td>{{res.1}}</td>
                    <td>{{res.2}}</td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>
{% endblock content %}