
{% extends 'base.html' %}
{% block content %}
    <h1>Buat Tokoh</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="nama"> Nama:</label><br>
        <input type="text" id="nama" name="nama"><br>
        <label for="jenis_kelamin"> Jenis Kelamin:</label>
        <br>
        <select name="jenis_kelamin" id="jenis_kelamin">
            <option value="Pria">Pria</option>
            <option value="Wanita">Wanita</option>
        </select>
        <br>
        <label for="warna_kulit">Warna Kulit:</label>
        <br>
        <select name="warna_kulit" id="warna_kulit">
            {% for warna in warna_kulit %}
            <option value="{{warna}}">{{warna}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="pekerjaan">Pekerjaan:</label>
        <br>
        <select name="pekerjaan" id="pekerjaan">
            {% for pekerjaan in nama_pekerjaan %}
            <option value="{{pekerjaan}}">{{pekerjaan}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Simpan">
    </form>
{% endblock %}