{% extends 'base.html' %}
{% block content %}
    <h1>Detail Tokoh</h1>
    <p>Nama: {{result.0}}</p>
    <p>ID Rambut: {{result.1}}</p>
    <p>ID Mata: {{result.2}}</p>
    <p>ID Rumah: {{result.3}}</p>
    <p>Warna Kulit: {{result.4}}</p>
    <p>Pekerjaan: {{result.5}}</p>
{% endblock %}