
{% extends 'base.html' %}
{% block content %}
    <h1>List Tokoh for {{request.session.username.0}}</h1>
    <table>
        <tr>
            <th>No</th>
            {% if request.session.username.2 == 'Admin' %}
                <th>Username Pengguna</th>
            {% endif %}
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Status</th>
            <th>XP</th>
            <th>Energi</th>
            <th>Kelaparan</th>
            <th>Hubungan Sosial</th>
            <th>Level</th>
            <th>Action</th>
        </tr>
        {% for res in result %}
            <tr>
                <td>{{forloop.counter}}</td>
                {% if request.session.username.2 == 'Admin' %}
                    <td>{{ res.0 }}</td>
                {% endif %}
                <td>{{res.1}}</td>
                <td>{{res.2}}</td>
                <td>{{res.3}}</td>
                <td>{{res.4}}</td>
                <td>{{res.5}}</td>
                <td>{{res.6}}</td>
                <td>{{res.7}}</td>
                <td>{{res.8}}</td>
                <td>
                    {% if request.session.username.2 == 'Pemain' %}<a href="{% url 'tokoh:update_tokoh' res.1 res.0 %}">UPDATE</a>{% endif %} 
                    <a href="{% url 'tokoh:detail_tokoh' res.1 res.0 %}">DETAIL</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}