{% extends 'base.html' %}
{% block content %}
<body>
    <h1>Update Tokoh</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="nama"> Nama:</label>
        <input disabled type="text" id="nama" name="nama",value="{{nama}}"readonly placeholder="{{nama}}">
        <br>
        <label for="id_rambut">ID Rambut:</label>
        <select name="id_rambut" id="id_rambut">
            {% for id in id_rambut %}
                <option value="{{id}}">{{id}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="id_mata">ID Mata:</label>
        <select name="id_mata" id="id_mata">
            {% for id in id_mata %}
                <option value="{{id}}">{{id}}</option>
            {% endfor %}
        </select>
        <br>
        <label for="id_rumah">ID Rumah:</label>
        <select name="id_rumah" id="id_rumah">
            {% for id in id_rumah %}
                <option value="{{id}}">{{id}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Simpan">
    </form>
{% endblock %}