{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>The Cims D03 | Buat Menjalankan Misi Utama</title>
{% endblock meta %}

{% block content %}

    <form action="{% url 'menjalankan_misi_utama:create_menjalankan_misi_utama' %}" method="POST">
        {% csrf_token %}
        <h1>Buat Menjalankan Misi Utama</h1>
        <br>
        <div class="">
            <label for="">Nama Tokoh</label>
            <br>
            <select id="nama_tokoh" name="nama_tokoh" class="">
            {% for nama in daftar_nama_tokoh %}
                <option value="{{ nama.0 }}">{{ nama.0 }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="">
            <label for="">Nama Misi Utama</label>
            <br>
            <select id="nama_misi_utama" name="nama_misi_utama" class="">
            {% for misi in daftar_misi_utama %}
                <option value="{{ misi.0 }}">{{ misi.0 }}</option>
            {% endfor %}
            </select>
        </div>
        <button type="submit" value="Submit" class="btn btn-primary">Simpan</button>
      </form>
    

{% endblock content %}