{% extends 'base.html' %} 

{% load static %}

{% block meta %}
<title>The Cims D03 | List Menjalankan Misi Utama</title>
{% endblock meta %} 

{% block content %} 

<h1>List Menjalankan Misi Utama</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      {% if role.0 == 'Admin' %}
        <th scope="col">Username Pengguna</th>
      {% endif %}
      <th scope="col">Nama Tokoh</th>
      <th scope="col">Nama Misi</th>
      <th scope="col">Status</th>
      {% if role.0 != 'Admin' %}
        <th scope="col">Action</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for misi in daftar_menjalankan_misi_utama %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      {% if role.0 == 'Admin' %}
        <td>{{ misi.0 }}</td>
      {% endif %}
      <td>{{ misi.1 }}</td>
      <td>{{ misi.2 }}</td>
      <td>{{ misi.3 }}</td>
      <td>{{ misi.4 }}</td>
      {% if role.0 != 'Admin' %}
      <td>
        {% if misi.4 != "Selesai" %}
          <a
          href="/menjalankan-misi-utama/update/?nama_tokoh={{misi.1}}&nama_misi={{misi.2}}"
          role="button"
          class="btn btn-outline-primary align-self-center m-1"
          >Update</a>
          <p></p>
        {% endif %}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
