{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>The Cims D03 | Ubah Menjalankan Misi Utama</title>
{% endblock meta %}

{% block content %}

    <form action="{% url 'menjalankan_misi_utama:create_menjalankan_misi_utama' %}" method="POST">
        {% csrf_token %}
        <h1>Ubah Menjalankan Misi Utama</h1>
        <br>
        <div class="">
            <label for="">Nama Tokoh</label>
            <br>
            {{ menjalankan_misi_utama_form.nama_tokoh }}
        </div>
        <div class="">
            <label for="">Nama Misi Utama</label>
            <br>
            {{ menjalankan_misi_utama_form.nama_misi_utama }}
        </div>
        <div class="">
            <label for="">Status</label>
            <br>
            {{ menjalankan_misi_utama_form.status }}
        </div>
        <button type="submit" value="Submit" class="btn btn-primary">Simpan</button>
      </form>
    

{% endblock content %}