
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>List Bekerja</h1>
    <table>
        <tr>
            <th>No</th>
            <th>Nama Tokoh</th>
            <th>Nama Pekerjaan</th>
            <th>Base Salary</th>
            <th>Action</th>
        </tr>
        {% for res in result %}
            <tr>
                <td>{{forloop.counter}}</td>
                <form action="" method="post">
                    {% csrf_token %}
                    <td><input type="hidden"value="{{res.0}}" id="nama_tokoh" name="nama_tokoh" readonly >{{res.0}}</td>
                    <td><input type="hidden"value="{{res.1}}" id="nama_pekerjaan" name="nama_pekerjaan" readonly>{{res.1}}</td>
                    <td><input type="hidden"value="{{res.2}}" id="base_salary" name="base_salary" readonly>{{res.2}}</td>
                    <td><input type="submit" value="Mulai Bekerja"></td>
                </form>

            </tr>
        {% endfor %}
    </table>
{% endblock content %}