
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>List Bekerja</h1>
    <table>
        <tr>
            <th>No</th>
            {% if request.session.username.2 == 'Admin' %}
                <th>Username Pemain</th>
            {% endif %}
            <th>Nama Tokoh</th>
            <th>Nama Pekerjaan</th>
            <th>Timestamp</th>
            <th>Keberangkatan ke</th>
            <th>Honor</th>
        </tr>
        {% for res in result %}
            <tr>
                <td>{{forloop.counter}}</td>
                {% if request.session.username.2 == 'Admin' %}
                    <td>{{res.0}}</td>
                    <td>{{res.1}}</td>
                    <td>{{res.2}}</td>
                    <td>{{res.3}}</td>
                    <td>{{res.4}}</td>
                    <td>{{res.5}}</td>
                {% else %}
                    <td>{{res.0}}</td>
                    <td>{{res.1}}</td>
                    <td>{{res.2}}</td>
                    <td>{{res.3}}</td>
                    <td>{{res.4}}</td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>
{% endblock content %}