
{% extends 'base.html' %}
{% load static %}
{% block meta %}
 <link rel="stylesheet" href="{% static 'read_pekerjaan.css' %}">
{% endblock meta %}
{% block content %}
    <h1>List Pekerjaan</h1>
    <table>
        <tr>
            <th>Nama Pekerjaan</th>
            <th>Base Salary</th>
            {% if request.session.username.2 == 'Admin' %}
                <th>Action</th>
            {% endif %}
        </tr>
        {% for res in result %}
            <tr>
                <td>{{ res.0 }}</td>
                <td>{{res.1}}</td>
                <td>
                    {% if request.session.username.2 == 'Admin' %}
                    <a href="{% url 'pekerjaan:update_pekerjaan' res.0 %}">UPDATE</a>
                    {% if res.2 == True %}
                    <form action="{% url 'pekerjaan:delete_pekerjaan' res.0 %}" method="post" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="link-button">DELETE</button>
                    </form>
                    
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}