
{% extends 'base.html' %}
{% block content %}
    <h1>Form Update Pekerjaan</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="nama">Nama Pekerjaan:</label><br>
        <input type="text" id="nama" name="nama" placeholder="{{nama}}" value="{{nama}}" readonly><br>
        <label for="base_honor"> Base Honor:</label><br>
        <input type="text" id="base_honor" name="base_honor"><br> 
        <input type="submit" value="Simpan">
    </form>
{% endblock %}