{% include "navbar_admin.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Warna Kulit</title>
  </head>
  <body>
      <form action="{% url 'warna_kulit:create_warna_kulit' %}" method="POST">
        {% csrf_token %}
        <h1>Form Buat Warna Kulit</h1>
        <br>
        {{ create_warna_kulit_form.as_p }}
        <br>
        <button type="submit" value="Submit">Simpan</button>
      </form>
  </body>
</html>