{% if role == "Admin" %}
{% include "navbar_admin.html" %}
{% endif %}
{% if role == "Pemain" %}
{% include "navbar_pemain.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List Warna Kulit</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
  </head>
  <body>
      <h1>List Warna Kulit</h1>
      <br>
      <table>
          <thead>
              <tr>
                  <th>No.</th>
                  <th>Kode</th>
                  {% if role == "Admin" %}
                  <th>Action</th>
                  {% endif %}
              </tr>
          </thead>
          <tbody>
              {% for warna_kulit in daftar_warna_kulit %}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ warna_kulit.0 }}</td>
                  {% if role == "Admin" %}
                  {% if warna_kulit in daftar_warna_kulit_deletable %}
                  <td><a href="{{ warna_kulit.0|slice:'1:' }}/delete">Delete</td>
                  {% else %}
                  <td> </td>
                  {% endif %}
                  {% endif %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </body>
</html>