{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>The Cims D03 | Buat Misi Utama</title>
{% endblock meta %}

{% block content %}

    <form action="{% url 'misi_utama:create_misi' %}" method="POST">
        {% csrf_token %}
        <h1>Buat Misi Utama</h1>
        <br>
        <div class="">
            <label for="">Nama Misi Utama</label>
            <br>
            {{ misi_form.nama }}
        </div>
        <div class="">
            <label for="">Efek Energi</label>
            <br>
            {{ misi_form.efek_energi }}
        </div>
        <div class="">
            <label for="">Efek Hubungan Sosial</label>
            <br>
            {{ misi_form.efek_hubungan_sosial }}
        </div>
        <div class="">
            <label for="">Efek Kelaparan</label>
            <br>
            {{ misi_form.efek_kelaparan }}
        </div>
        <div class="">
            <label for="">Syarat Energi</label>
            <br>
            {{ misi_form.syarat_energi }}
        </div>
        <div class="">
            <label for="">Syarat Hubungan Sosial</label>
            <br>
            {{ misi_form.syarat_hubungan_sosial }}
        </div>
        <div class="">
            <label for="">Syarat Kelaparan</label>
            <br>
            {{ misi_form.syarat_kelaparan }}
        </div>
        <div class="">
            <label for="">Completion Time</label>
            <br>
            {{ misi_form.completion_time }}
        </div>
        <div class="">
            <label for="">Reward Koin</label>
            <br>
            {{ misi_form.reward_koin }}
        </div>
        <div class="">
            <label for="">Reward XP</label>
            <br>
            {{ misi_form.reward_xp }}
        </div>
        <div class="">
            <label for="">Deskripsi</label>
            <br>
            {{ misi_form.deskripsi }}
        </div>
        <br>
        <button type="submit" value="Submit" class="btn btn-primary">Simpan</button>
      </form>
    

{% endblock content %}