{% extends 'base.html' %} 

{% load static %} 

{% block meta %}
<title>The Cims D03 | Buat Misi Utama</title>
{% endblock meta %} 

{% block content %}

<h1>Detail Misi Utama</h1>
<div class="">
  {% for misi in detail_misi_utama %}
    <p>Nama: {{misi.0}}</p>
    <p>Efek Energi: {{misi.1}}</p>
    <p>Efek Hubungan Sosial: {{misi.2}}</p>
    <p>Efek Kelaparan: {{misi.3}}</p>
    <p>Syarat Energi: {{misi.4}}</p>
    <p>Syarat Hubungan Sosial: {{misi.5}}</p>
    <p>Syarat Kelaparan: {{misi.6}}</p>
    <p>Completion Time: {{misi.7}}</p>
    <p>Reward Koin: {{misi.8}}</p>
    <p>Reward XP: {{misi.9}}</p>
  {% endfor %}
</div>

{% endblock content %}