{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>The Cims D03 | List Misi Utama</title>
{% endblock meta %}

{% block content %}

    <h1>List Misi Utama</h1>
    <div class="container">
      {% for misi in daftar_misi_utama %}
        <div class="card">
          <div class="row g-0">
            <h5 class="card-title col-md-8">{{misi.0}}</h5>
            <div class="col-md-2">
              
              {% if role.0 == 'Admin' and misi.0 not in daftar_menjalankan_misi_utama %}
                <a href="/misi-utama/delete/?nama={{ misi.0 }}" class="btn btn-danger">Delete</a>
              {% endif %}

              <a href="/misi-utama/detail/?nama={{ misi.0 }}" class="btn btn-primary">Detail</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    

{% endblock content %}