{% include "navbar_pemain.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Menggunakan Apparel</title>
  </head>
  <body>
      <form action="{% url 'menggunakan_apparel:create_menggunakan_apparel_2' nama_tokoh=nama_tokoh %}" method="POST">
        {% csrf_token %}
        <h1>Form Buat Menggunakan Apparel</h1>
        <br>
        Apparel untuk {{ nama_tokoh }}
        <div>
            <select name = 'apparel' id = 'apparel' required>
                {% for apparel in result_list_apparel %}
                <option value = {{apparel}}> {{ apparel }} </option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button type="submit" value="Submit">Pakai</button>
      </form>
      <form action="/menggunakan-apparel/create">
        <input type="submit" value="Kembali" />
    </form>
    {% if error_message != null %}
    <h6>{{ error_message }}</h6>
    {% endif %}
  </body>
</html>