{% include "navbar_pemain.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Menggunakan Apparel</title>
  </head>
  <body>
      <form method="POST">
        {% csrf_token %}
        <h1>Form Buat Menggunakan Apparel</h1>
        <br>
        Nama Tokoh
        <div>
            <select name = 'nama_tokoh' id = 'nama_tokoh' required>
                {% for nama in result_list_nama %}
                <option value = {{nama}}> {{ nama }} </option>
                {% endfor %}
            </select>
        </div>
        <br>
        <button type="submit" value="Submit">Selanjutnya</button>
      </form>
  </body>
</html>