{% if role == "Admin" %}
{% include "navbar_admin.html" %}
{% endif %}
{% if role == "Pemain" %}
{% include "navbar_pemain.html" %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>List Menggunakan Apparel</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
  </head>
  <body>
      <h1>List Menggunakan Apparel</h1>
      <br>
      <table>
          <thead>
              <tr>
                  <th>No.</th>
                  {% if role == "Admin" %}
                  <th>Username Pemain</th>
                  {% endif %}
                  <th>Nama Tokoh</th>
                  <th>Nama Apparel</th>
                  <th>Warna</th>
                  <th>Nama Pekerjaan</th>
                  <th>Kategori</th>
                  {% if role == "Pemain" %}
                  <th>Action</th>
                  {% endif %}
              </tr>
          </thead>
          <tbody>
              {% for ma in daftar_menggunakan_apparel %}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  {% if role == "Admin" %}
                  <td>{{ ma.0 }}</td>
                  {% endif %}
                  <td>{{ ma.1 }}</td>
                  <td>{{ ma.2 }}</td>
                  <td>{{ ma.3 }}</td>
                  <td>{{ ma.4 }}</td>
                  <td>{{ ma.5 }}</td>
                  {% if role == "Pemain" %}
                  <td><a href="{{ ma.0 }}/{{ ma.1 }}/{{ ma.6 }}/delete">Lepas</td>
                  {% endif %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </body>
</html>