<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Add Koleksi</title>
</head>
<body>
    <h1>Pilih Kategori Koleksi</h1>
    <a href="/homepage"><button type="button">Home</button></a>
    <a href="/koleksi/add/rambut"><button type="button">Rambut</button></a>
    <a href="/"><button type="button">Mata</button></a>
    <a href="/"><button type="button">Rumah</button></a>
    <a href="/"><button type="button">Barang</button></a>
    <a href="/"><button type="button">Apparel</button></a>
    
</body>
</html>