<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>List Kategori Apparel</title>
</head>
<body>
    <h1>List Koleksi</h1>
    <a href="/homepage"><button type="button">Home</button></a>
    {% if role == 'Admin' %}
        <a href="/koleksi/add"><button type="button">Add Koleksi</button></a>
    {% endif %}
    <table>
        <tr>
            <th>ID Koleksi</th>
            {% if jenisKoleksi == 'rumah' %}
                <th>Nama</th>
                <th>Harga Jual</th>
                <th>Harga Beli</th>
                <th>Kapasitas Barang</th>
            {% endif %}
            {% if jenisKoleksi == 'barang' %}
                <th>Nama</th>
                <th>Harga Jual</th>
                <th>Harga Beli</th>
                <th>Tingkat Energi</th>
            {% endif %}
            {% if jenisKoleksi == 'rambut' %}
                <th>Harga Jual</th>
                <th>Tipe Rambut</th>
            {% endif %}
            {% if jenisKoleksi == 'mata' %}
                <th>Harga Jual</th>
                <th>Warna</th>
            {% endif %}
        </tr>   
        {% for res in result %}
        <tr>
            <td> {{ res.id }} </td>
            {% if jenisKoleksi == 'rambut' %}
                <td> {{ res.harga }} </td>
                <td>{{ res.tipe }}</td>
            {% endif %}
            {% if jenisKoleksi == 'mata' %}
                <td> {{ res.harga }} </td>
                <td>{{ res.warna }}</td>
            {% endif %}
            {% if jenisKoleksi == 'rumah' %}
                <td>{{ res.nama }}</td>
                <td>{{ res.harga }}</td>
                <td>{{ res.harga_beli }}</td>
                <td>{{ res.kapasitas_barang }}</td>
            {% endif %}
            {% if jenisKoleksi == 'barang' %}
                <td>{{ res.nama }}</td>
                <td>{{ res.harga }}</td>
                <td>{{ res.harga_beli }}</td>
                <td>{{ res.tingkat_energi }}</td>
            {% endif %}
        </tr>
        {% endfor %}
      </table>
    <a href="/logout"><button type="button">Logout</button></a>
</body>
</html>