<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>List Kategori Apparel</title>
</head>
<body>
    <h1>List Kategori Apparel</h1>
    <a href="/homepage"><button type="button">Home</button></a>
    {% if role == 'Admin' %}
        <a href="/koleksi/kategori-apparel/add"><button type="button">Add Kategori</button></a>
    {% endif %}
    <table>
        <tr>
          <th>Nama Kategori</th>
        </tr>
        {% for res in result %}
        <tr>
            <td> {{ res.nama_kategori }} </td>
        </tr>
        {% endfor %}
      </table>
    <a href="/logout"><button type="button">Logout</button></a>
</body>
</html>