<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>List Kategori Apparel</title>
</head>
<body>
    <h1>List Kategori Apparel</h1>
    <a href="/homepage"><button type="button">Home</button></a>
    {% if role == 'Pemain' %}
        <a href="/koleksi/koleksi_tokoh"><button type="button">Add Koleksi Tokoh</button></a>
    {% endif %}
    <table>
        <tr>
          <th>Username Pengguna</th>
          <th>Tokoh</th>
          <th>ID Koleksi</th>
        </tr>
        {% for res in result %}
        <tr>
            <td> {{ res.username_pengguna }} </td>
            <td> {{ res.nama_tokoh }} </td>
            <td> {{ res.id_koleksi }} </td>
        </tr>
        {% endfor %}
      </table>
    <a href="/logout"><button type="button">Logout</button></a>
</body>
</html>